.phoneDetails{
    min-height: 100vh;
}


.edit{
    margin-top: 10%;
    margin-bottom: 10%;
}

@media (max-width: 400px){
    .info{
        font-size: medium;
    }

    .edit{
        margin-top: 20%;
    }

}
