h1,h2,h3,h4,h5,h6, p {
  font-family: "Nunito", sans-serif;
}

.App {
  text-align: center;
  background-color: rgba(4, 87, 241, 0.4);
  min-height: 140vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

Link{
  text-decoration: none;
}

.App-link {
  color: rgba(4, 87, 241, 0.4);

}

.App-link:hover{
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.itemCatalog{
  border-radius: 10px;
  margin-bottom: 4%;
}

.start{
  padding-top: 3%;
}

.phoneLogo{
  display: inline-block;
  min-height: 30vh;
  width: 60%;
  max-height: 50vh;
  border-radius: 20px;
}

.content{
  min-height: 100vh;
  background-color: white;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.title{
  text-align: center;
  margin-top: 4%;
  margin-bottom: 4%;
}


.returnButton{
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 2%;
  text-align: left;
  font-family: "Nunito", sans-serif;
  font-size: 1.5em;
  color: orangered;
}

.price{
  padding-left: 5%;
  color: red;
}

.services .box {
  box-shadow: 0 0 30px rgba(1, 41, 112, 0.08);
  height: 100%;
  padding: 10px 20px;
  text-align: center;
  transition: 0.3s;
  border-radius: 10px;
  min-height: 55vh;
}

.services .box .phoneLogo {
  padding: 20px 20px;
  border-radius: 50px;
  position: relative;
  margin-bottom: 22px;
  display: inline-block;
  line-height: 0;
  transition: 0.3s;
  max-height: 35vh;
  min-width: 80%;
  max-width: 100%;
}

.services .box {
  border-bottom: 3px solid #09039d;
  box-shadow: 0 0 30px rgba(4, 87, 241, 0.4);
}

.services .box:hover {
  background: rgba(4, 87, 241, 0.4);
  color: white;
}


.delete{
  margin-bottom: 10%;
}


@media (max-width: 400px){
  .returnButton{
    text-align: center;
    margin-bottom: 10%;
    font-size: 1em;
  }

  .imageSection{
    margin-bottom: 10%;
  }



  .App-link{
    font-size: 20px;
  }

  .services .box .phoneLogo {
    padding: 20px 20px;
    border-radius: 50px;
    position: relative;
    margin-bottom: 22px;
    display: inline-block;
    line-height: 0;
    transition: 0.3s;
    width: 100%;
  }

}

@media (max-width: 320px){
  .services .box .phoneLogo {
    padding: 20px 20px;
    border-radius: 50px;
    position: relative;
    margin-bottom: 22px;
    display: inline-block;
    line-height: 0;
    transition: 0.3s;
    width: 100%;
  }

  .delete{
    padding-left: 10%;
    padding-right: 10%;
  }

  .App-link{
    font-size: medium;
  }

}

.imageHolder{
  min-height: 35vh;
}

.loading{
  background-color: white;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  min-height: 100vh;
}
